<header>
    <h1><i class="h-title">{{pageTitle}}</i></h1>
    <nav>
        <ul class="navbar-list">
            <li class="navbar-item"><a href="/home">Home</a></li>
            <li class="navbar-item"><a href="/about">About</a></li>
            <li class="navbar-item"><a href="/contact-us">Contact Us</a></li>
        </ul>
    </nav>

</header>
