
<tr>
    <td style="text-align: left; width: 60%;">{{name}}</td>
    <td style="text-align: center;">{{credithours}}</td>
    <td style="text-align: left;padding-left: 30px;">{{grade}}</td>
</tr>
