{{> header}}

<main>
    <div class="mainContainer">
        <b> Welcome<br></b>
        Please Sign In or Register<br>
        <br>
        <br>
        <div class="login body">
            <div class="login required">
                <label for="login-username">Username: </label>
                <input type="text" id="login-input-username">
            </div>
            <div class="login required">
                <label for="login-password">Password: </label>
                <input type="password" id="login-input-password">
            </div>
        </div>

        <div class="login-container">
            <button id="login-button" type="submit">Log in</button>
        </div>
        <div class="signup-container">
            <button id="add-user-button">New User</button>
        </div>
    </div>
</main>
