{{> header}}

<main>
    <div class="person">
        <p>
            Name: {{person.name}}
        </p>
        <p>
            Password: {{person.password}}
        </p>

        <br />
        <div>Classes & Grades:</div>
        <hr />
        <table style="border: 0 solid red;width: 100%;">
            {{#each person.classes}}
            {{> user-classes}}
            {{/each}}
        </table>
    </div>

</main>

{{> user-class-modal}}
